﻿@model List<TarefasModel>
@{
    ViewData["Title"] = "Listagem de tarefas";
}
<div class="text-center">

    <h1 class="display-3">Listagem de Tarefas</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Tarefas" asp-action="Criar">Nova tarefa</a>
    </div>
</div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="tarefas">
            @foreach (var item in ViewBag.Tarefas)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Titulo</td>
                    <td>@item.Descricao</td>
                    <td>@item.Status</td>
                    <td>
                        <div class="button" role="button">
                            <a role="button" class="btn btn-dark btn-block" href="@Url.Action("Visualizar", "Tarefas", new {id=item.Id})">Visualizar</a>
                            <a role="button" class="btn btn-success btn-block" href="@Url.Action("Editar", "Tarefas", new {id=item.Id})">Editar</a>
                            <a role="button" class="btn btn-danger btn-block" asp-controller="Tarefas" asp-action="Apagar" asp-route-id="@item.Id">Apagar</a>
                        </div>
                    </td>
                </tr>        
            }
        </tbody>
    </table>
</div>
