﻿@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h2>
    <p>Sistema de gestão de Tarefas</p>
    </h2>
    <br />
    <h5>
        Já imaginou organizar todas as suas tarefas em um só lugar? <br />
        Para começar é simples!<br /><br /> clique em <b>Tarefas</b> no menu.
    </h5>

</div>

